$font-stack: Roboto, sans-serif;

$font-xxs: 12px;
$font-xs: 14px;
$font-sm: 16px;
$font-md: 18px;
$font-lg: 22px;
$font-xl: 28px;
$font-xxl: 32px;


$green-dark: #1B5E20; // 1
$green: #415400;
$green-light: #6C8A00;
$green-smooth-dark: #4caf50;// 2
$green-smooth: #00C853;
$green-smooth-light: #A5D207;
$green-whiter: #F7FFDC;
$yellow: #FFC107; // 3
$blue: #3aacd1;
$blue-dark: #5555d9;
$red-dark: #C1180F;
$red: #DD2C00; // 4
$red-light: #FF4600;
$purple: #9746D5;
$gray-dark: #454344;
$gray: #848484;
$gray-light:#CBCBCB;
$black-strong: #000;
$black: #1e1e1e;
$black-light: #353535;
$white: #fff;
