$font-stack: Roboto, sans-serif;

$font-xxs: 12px;
$font-xs: 14px;
$font-sm: 18px;
$font-md: 20px;
$font-lg: 26px;
$font-xl: 36px;

$green-dark: #1B5E20; // 1
$green: #6C8A00;
$green-light: #A5D207;
$green2: #00C853; // 2
$yellow: #FFC107; // 3
$green2-light: #F7FFDC;
$blue: #1DA1F2;
$red-dark: #C1180F;
$red: #DD2C00; // 4
$red-light: #FF4600;
$purple: #9746D5;
$gray-dark: #454344;
$gray: #848484;
$gray-light:#CBCBCB;
$black-strong: #000;
$black: #1e1e1e;
$black-light: #353535;
$white: #fff;
